.logo {

	&__link {
		text-decoration: none;
		display: block;
	}

	&__pic {
		display: block;
		margin: 0 auto;
		width: 400px;
	}
	
	@media all and (max-width: 768px) {
		
		&__pic {
			width: 200px;
		}
	}
}