.advantage {
	color: $color;
	position: relative;
	z-index: 2;
	padding-top: 130px;
	padding-bottom: 100px;
	
	&__container {
	
		max-width: 1470px;
		padding: 0 15px;
		width: 100%;
		margin: 0 auto;
	}
	
	&__row {
		display: flex;
		justify-content: space-between;
	}
	
	&__col {
		text-align: center;
		width: calc(100% / 3);
	}
	
	&__pic {
		height: 240px;
		margin-bottom: 15px;
	}
	
	&__img {
		height: 100%;
		width: auto;
		display: block;
		margin: 0 auto;
	}
	
	&__title {
		@include title($fsz: 20px, $margin-bottom: 10px, $text-color: $color, $letter-spacing: 0.5px);
	}
	
	&__text {
		max-width: 190px;
		line-height: 1;
		margin: 0 auto;
	}
	
	@media all and (max-width: 768px) {
		
		padding-top: 60px;
		padding-bottom: 60px;
		
		&__row {
			flex-direction: column;
		}
		
		&__col {
			width: 100%;
			padding-bottom: 40px;
			
			&:last-child {
				padding-bottom: 0;
			}
		}
		
		&__pic {
			height: 150px;
		}
	}
}