.app {
	padding-top: 100px;
	padding-bottom: $shadow-height;
	margin-bottom: 100px;
	
	&__row {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 2;
		margin-bottom: -$shadow-height;
	}
	
	&__pic {
		width: 44%;
		margin-left: -100px;
	}
	
	&__img {
		width: 100%;
		height: auto;
	}
	
	&__content {
		max-width: 533px;
		margin-left: 150px;
		margin-top: -$shadow-height;
	}
	
	&__sub-title {
		@include title ($fsz: 24px, $margin-bottom: 10px, $text-color: $color, $letter-spacing: 0.5px)
	}
	
	&__text {
		@include text();
	}
	
	@media all and (max-width: 768px) {
		
		padding-top: 30px;
		padding-bottom: 60px;
		margin-bottom: 0;
		
		&__row {
			flex-direction: column;
			margin-bottom: 0;
		}
		
		&__pic {
			transform: translateX(-7%);
			width: 150px;
			margin-left: 0;
		}
		
		&__content {
			max-width: 100%;
			margin-left: 0;
			margin-top: 10px;
			text-align: center;
		}
		
		&__text {
			max-width: 355px;
			margin: 0 auto 15px;
		}
	}
}