.main-app {
	display: flex;
	margin-top: 80px;
	
	&__item {
		margin-right: 20px;
	}
	
	&__link {
		display: block;
	}
	
	&__pic {
		display: block;
		width: 100%;
		height: 72px;
	}
	
	@media all and (max-width: 768px) {
		
		flex-direction: column;
		margin-top: 40px;
		padding-bottom: 40px;
		
		&__item {
			margin-right: 0;
			margin-bottom: 15px;
		}
		
		&__link,
		&__pic {
			width: 150px;
		}
		
		&__link {
			margin: 0 auto;
		}
	}
}