.main {
	background-image: url("../images/main-bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	background-size: cover;
	color: #ffffff;
	padding-bottom: $shadow-height;
	
	&:before {
		content: '';
		display: block;
		width: 14000px;
		height: 14000px;
		border: 500px solid #ffffff;
		border-radius: 50%;
		position: absolute;
		bottom: -500px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		pointer-events: none;
	}
	
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(3, 100, 195, 0.7);
		top: 0;
		left: 0;
		position: absolute;
		pointer-events: none;
		box-shadow: 0px 0px 0px 108px rgba(255,255,255,1);
		z-index: 1;
		
	}
	
	&__row {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 2;
		margin-bottom: -$shadow-height;
	}
	
	&__content {
		max-width: 533px;
		margin-left: 150px;
		margin-top: -$shadow-height;
	}
	
	&__pic {
		width: 44%;
		margin-left: -150px;
	}
	
	&__text {
		max-width: 355px;
		@include text($text-color: #fff);
		font-size: 20px;
	}
	
	@media all and (max-width: 768px) {
		
		background-position: right center;
		
		&:before {
			width: 9000px;
			height: 9000px;
		}
	
		&__row {
			flex-direction: column;
		}
		
		&__content {
			margin-left: 0;
			margin-top: 10px;
			max-width: 100%;
			text-align: center;
		}
		
		&__pic {
			transform: translateX(-20%);
			width: 150px;
			margin-left: 0;
		}
		
		&__text {
			margin: 0 auto;
		}
	}
}