.title {
	
	@include title();
	
	.app & {
		
		@include title($text-color: $color);
	}
	
	@media all and (max-width: 768px) {
		
		@include title($fsz: 26px, $margin-bottom: 30px);
		
		.app & {
			
			@include title( $text-color: $color, $margin-bottom: 30px, $fsz: 26px);
		}
	}
}
