.header {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	width: 100%;
	margin-bottom: 100px;
	position: relative;
	z-index: 2;
	
	&__inner {
		width: 100%;
		max-width: 1775px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__logo {

	}

	&__phone {

	}
	
	&__blocks {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	@media all and (max-width: 768px) {
		padding-top: 20px;
		margin-bottom: 50px;
		
	}
}
