<header class="header">
	
	<div class="header__inner">
		
		<div class="header__blocks">
			<div class="header__block">
				{% include 'logo/global/logo.html' %}
			</div>
			<div class="header__block header__block_soc">
				{% include 'social/social.html' %}
			
			</div>
		</div>
		
	</div>
	<!-- /.header__inner -->
	
</header>
