{% include 'head/head.html' %}

{% import "macros/macros.html" as pic %}
{% import "macros/macros.html" as advantage %}

<body>

<div class="wrapper" id="js-wrapper">
	
	<section class="main">
		
		{% include 'header/global/header.html' %}
		
		<div class="container">
			
			<div class="main__row">
				
				<div class="main__pic">
					
					{{ pic.pic(class="phone", img="images/phone-1.png", img@2x="images/phone-1@2x.png",
					img@3x="images/phone-1@3x.png") }}
				
				</div>
				<!-- /.main__pic -->
				
				<div class="main__content">
					
					<div class="title">{{ "Совершай покупки со скидкой и получай подарки. "}}</div>
					
					<div class="main__text">
						Совершай покупки со скидкой и получай подарки. покупки со скидкой и получай подарки. Совершай
						покупки со скидкой и получай подарки. Совершай покупки со скидкой и получай подарки.
					</div>
					<!-- /.main__text -->
					
					<div class="main-app">
						<div class="main-app__item">
							<a href="#" class="main-app__link">
								
								<img src="images/google-play.svg" alt="" class="main-app__pic">
								<!-- /.main-app__pic -->
							
							</a>
							<!-- /.main-app__link -->
						</div>
						<!-- /.main-app__item -->
						
						<div class="main-app__item">
							<a href="#" class="main-app__link">
								
								<img src="images/app-store.svg" alt="" class="main-app__pic">
								<!-- /.main-app__pic -->
							
							</a>
							<!-- /.main-app__link -->
						</div>
						<!-- /.main-app__item -->
					</div>
					<!-- /.main-app -->
				</div>
				<!-- /.main__content -->
			
			</div>
			<!-- /.main__row -->
		
		</div>
		<!-- /.container -->
	
	</section>
	<!-- /.main -->
	
	<div class="container">
		
		<div class="advantage">
			
			<div class="advantage__container">
				
				<div class="advantage__row">
					
					{{ advantage.advantage(img="images/advantages-3.jpg", img@2x="images/advantages-3@2x.jpg",
					img@3x="images/advantages-3@3x.jpg", title="Бонусы", text="Бонусы и подарки за покупки") }}
					
					{{ advantage.advantage(img="images/advantages-2.jpg", img@2x="images/advantages-2@2x.jpg",
					img@3x="images/advantages-2@3x.jpg", title="Доставка", text="Бесплатная доставка от одной упаковки")
					}}
					
					{{ advantage.advantage(img="images/advantages-1.jpg", img@2x="images/advantages-1@2x.jpg",
					img@3x="images/advantages-1@3x.jpg", title="Скидки на бренды", text="Постоянные скидки на любимые
					бренды") }}
				</div>
				<!-- /.advantage__row -->
			
			</div>
			<!-- /.advantage__inner -->
		
		</div>
		<!-- /.advantage -->
		
		<div class="app">
			
			<div class="app__row">
				<div class="app__pic">
					
					{{ pic.pic(class="phone", img="images/phone-2.png", img@2x="images/phone-2@2x.png",
					img@3x="images/phone-2@3x.png") }}
				
				</div>
				<!-- /.app__pic -->
				<div class="app__content">
					
					<div class="title">{{ "Совершай покупки со скидкой и получай подарки."}}</div>
					
					<div class="app__text">
						
						Совершай покупки со скидкой и получай подарки. покупки со скидкой и получай подарки.
					
					</div>
					<!-- /.app__text -->
					
					<div class="app__sub-title">
						Совершай покупки со скидкой
					</div>
					<div class="app__text">
						Совершай покупки со скидкой и получай подарки. покупки со скидкой и получай подарки. Совершай
						покупки со скидкой и получай подарки.
					</div>
					<div class="app__sub-title">
						Совершай покупки со скидкой
					</div>
					<div class="app__text">
						Совершай покупки со скидкой и получай подарки. покупки со скидкой и получай подарки. Совершай
						покупки со скидкой и получай подарки.
					</div>
				
				</div>
				<!-- /.app__content -->
			</div>
			<!-- /.app__row -->
		
		</div>
		<!-- /.app -->
	
	</div>
	<!-- /.container -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.html' %}
{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>
</html>
