.footer {
	background: rgb(24, 47, 70);
	padding: 40px 0;
	position: relative;
	line-height: 1;
	min-width: 1510px;
	color: #ffffff;

	&__inner {
		width: 1510px;
		padding: 0 15px;
		margin: 0 auto;

	}

	&__text {
		@include text($text-color: #fff, $margin-botom: 0px);
	}
	
	@media all and (max-width: 768px) {
		
		min-width: 320px;
		
		&__inner {
			width: 100%;
		}
	}

}
