<div class="footer" id="js-footer">
	
	<div class="footer__inner">
		
		<div class="footer__text">
			подвал в котором инфо о приложении политика обраьотки данных и конфеденциальностиподвал в котором инфо о
			приложении политика обраьотки данных и конфеденциальностиподвал в котором инфо о приложении политика
			обраьотки данных и конфеденциальностиподвал в котором инфо о приложении политика обраьотки данных и
			конфеденциальностиподвал в котором инфо о приложении политика обраьотки данных и конфеденциальностиподвал в
			котором инфо о приложении политика обраьотки данных и конфеденциальности
		</div>
		<!-- /.footer__text -->
	
	</div>
	<!-- /.footer__inner -->

</div>
<!-- /.footer -->
