body {
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	color: $color;
	
	@media all and (max-width: 768px) {
		
		font-size: $font-size-xs;
	}
}

html,
body {
	overflow-x: hidden;
}

a {
	color: $colorLink;
}

a:hover {
	text-decoration: underline;
}