$font-family: Webnar, sans-serif;
$font-size: 16px;
$font-size-xs: 14px;
$line-height: 24px;
$color: rgb(36, 85, 149);
$font-weight: 400;
$font-family-title: GothamPro, sans-serif;
$colorLink: #0cb28b;
$shadow-height: 100px;