{% macro advantage(img="", img@2x="", img@3x="", title="", text="") %}

	<div class="advantage__col">
		<div class="advantage__pic">
			<img src="{{ img }}" srcset="{{ img@2x }} 2x, {{ img@3x }} 3x" alt="" class="advantage__img">
			<!-- /.advantage__img -->
		</div>
		<!-- /.advantage__pic -->
		<div class="advantage__title">{{ title }}</div>
		<!-- /.advantage__title -->
		<div class="advantage__text">{{ text }}</div>
		<!-- /.advantage__text -->
	</div>
	<!-- /.advantage__col -->

{% endmacro %}

{% macro pic(class="", img="", img@2x="", img@3x="") %}

	<div class="{{ class }}__pic">
		<img src="{{ img }}" srcset="{{ img@2x }} 2x, {{ img@3x }} 3x" alt="" class="{{ class }}__img">
		<!-- /.{{ class }}__img -->
	</div>
	<!-- /.{{ class }}__pic -->

{% endmacro %}