@custom-media --phone (width < 1200px);
@custom-media --notPhone (width >= 1200px);
@custom-media --tablet (width >= 768px) and (width <= 1259px);
@mixin button($bg:#ff2626, $bgrepeat: no-repeat, $color:#fff, $border: none, $shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16), $font-size:16px, $text-transform: inherit, $font-weight:700, $padding:0 38px, $border-radius:25px, $height:50px, $line-height: 1, $display: inline-flex, $bg-hover:#ff2626, $color-hover:#fff, $width: auto, $align-items: center, $justify-content: center, $shadow-hover:0 2px 12px 0 rgba(0, 0, 0, 0.16), $margin: 0) {
	& {
		background-color: $bg;
		background-repeat: $bgrepeat;
		color: $color;
		box-shadow: $shadow;
		text-decoration: none;
		font-size: $font-size;
		font-weight: $font-weight;
		text-transform: $text-transform;
		padding: $padding;
		margin: $margin;
		border-radius: $border-radius;
		line-height: $line-height;
		height: $height;
		display: $display;
		align-items: $align-items;
		justify-content: $justify-content;
		border: $border;
		cursor: pointer;
		width: $width;
		transition: all 400ms;

		&:hover {
			background-color: $bg-hover;
			color: $color-hover;
			box-shadow: $shadow-hover;
			text-decoration: none;
		}
	}
}
@mixin link() {
	text-decoration: none;
	border-bottom: 1px solid #e6ecf2;
	transition: all 400ms;

	&:hover {
		text-decoration: none;
		border-bottom-color: transparent;
	}
}
@mixin justify($margin-bottom: -25px) {
	& {
		text-align: justify;
		margin-bottom: $margin-bottom;

		&:after {
			display: inline-block;
			content: '';
			width: 100%;
		}
	}
}

@mixin title($fsz: 50px, $margin-bottom: 50px, $text-color: #fff, $letter-spacing: 1.3px) {
	font-size: $fsz;
	font-weight: 700;
	margin-bottom: $margin-bottom;
	line-height: 1;
	color: $text-color;
	font-family: $font-family-title;
	letter-spacing: $letter-spacing;
}

@mixin text ($line-height: 1.2, $text-color: $color, $margin-botom: 15px) {
	line-height: $line-height;
	margin-bottom: $margin-botom;
	color: $text-color;
}